# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-go/main/schema/compose-spec.json
services:
  dev-db:
    image: postgres:13
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: nest
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
    networks:
      - freecodecamp

  test-db:
    image: postgres:13
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: nest
    volumes:
      - pgdata_test:/var/lib/postgresql/data
    networks:
      - freecodecamp

networks:
  freecodecamp:

volumes:
  pgdata_dev:
  pgdata_test:
